:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
* {
    font-family: var(--system-ui);
    color: #232324;
}


@font-face {
    font-family: Norse;
    src: url("/assets/images/Norse-Bold.otf") format("opentype");
  }

body {
    display: flex;
    flex-direction: row;
    margin: 0;
    overflow-y: hidden;
}

div {
    margin: 0px;
}

#left-side {
    width: 40vw;
    height: 100vh;
}

.card-container {
    position: relative;

}

.card-img {
    /* position: absolute; */
    width: 40vw;
    height: 100vh;
    margin: 0px;
    z-index: -1;
}

.card-body {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 8rem;
    color: white;
    z-index: 1;
}

.card-heading {
    width: 100%;
    background-color: black;
    opacity: 0.5;
    text-align: center;
}


.attempt {
    display: flex;
    justify-content: center;
    font-family: var(--system-ui);
    width: 100%;
    position: absolute;
    top: 8rem;
    text-align: center;
    color: white;
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
}

.attempt > h2 {
    font-family: Norse, var(--system-ui);
    color: white;
    font-size: x-large;
}

.attempt > img {
    height: 10vh;
}

#right-side {
    height: 100vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F9FAFB;
}

#right-side > div {
    margin-left: 30px;
}

.top-content > p {
    /* display: flex; */
    font-family: var(--system-ui);
    font-weight: bold;
    max-width: 60%;
    
}

.emphasize {
    font-style: italic;
}

