:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        --border-focus-color: rgb(75, 75, 255);
}

:root.dark {
    --text-color: white;
    --bg-color: #212121;
    --border-color: rgb(77,77,77);
    --border-focus-color: rgb(75, 75, 255);
}

:root.light {
    --text-color: black;
    --bg-color: white;
    --border-color: #E5E7EB;
    --border-focus-color: rgb(75, 75, 255);
}

* {
    font-family: var(--system-ui);
    color: #232324;
}

p {
    color: var(--text-color);
}
@font-face {
    font-family: Norse;
    src: url("/assets/images/Norse-Bold.otf") format("opentype");
  }

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    margin: 0;
    /* overflow-y: hidden; */
    min-height: 100%;
}

div {
    margin: 0px;
}

#left-side {
    width: 40vw;
    height: 100vh;
    margin: 0;
}

.card-container {
    position: relative;
    margin: 0;
}

.card-img {
    position: absolute;
    width: 40vw;
    height: 100vh;
    margin: 0px;
    z-index: -1;
}

.card-body {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 8rem;
    color: white;
    z-index: 1;
}

.card-heading {
    width: 100%;
    background-color: black;
    opacity: 0.5;
    text-align: center;
}


.attempt {
    display: flex;
    justify-content: center;
    font-family: var(--system-ui);
    width: 100%;
    position: absolute;
    top: 8rem;
    text-align: center;
    color: white;
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
}

.attempt > h2 {
    font-family: Norse, var(--system-ui);
    color: white;
    font-size: x-large;
}

.attempt > img {
    height: 10vh;
}

.right-side {
    height: 100vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--bg-color);
}

.right-side > * {
    margin-left: 30px;
}

.theme-button-container {
    display: flex;
    justify-content: flex-end;
    margin: 5px 5px 20px 0px;
}

#themeToggle {
    padding: 5px;
}

.top-content > p {
    /* display: flex; */
    font-family: var(--system-ui);
    font-weight: bold;
    max-width: 60%;
    margin-bottom: 30px;
    color: var(--text-color);
}

.emphasize {
    color: var(--text-color);
    font-style: italic;
}

.mid-content {
    margin-left: 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.mid-content > * {
    margin-left: 30px;
}
h3 {
    color: var(--text-color);
}
.row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    min-width: 0;
}
.right-col {
    margin-left: 60px;
}

.label-input-group {
    width: 200px;
}

label {
    font-family: var(--system-ui);
    font-size: 0.7rem;
    color: var(--text-color);
}

input {
    border: 1px solid var(--border-color);
    border-radius: 3px;
    width: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
}

input:focus {
    border-color: var(--border-focus-color);
    outline: none;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 5px, rgba(17, 17, 26, 0.1) 0px 8px 14px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

#password:invalid {
    border-color: red;
    
}

.bottom-content {
    margin-top: 30px;
}

button {
    font-weight: bold;
    padding: 12px 40px 12px 40px;
    border: none;
    border-radius: 7px;
    color: white;
    background-color: #596D48;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

button:hover {
    background-color: #647c4f;
}

button:active {
    background-color: #5d8f32;
}

.greenSpan {
    color: green;
    font-weight: bold;
    cursor: pointer;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}